<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <!-- Title -->
    <title>
      {% block title %}Dashboard Covid-19{% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'dashboard/img/favicon.png' %}" type="image/png">

    <!-- Arquivos CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">


    <!-- Bloco de Estilos -->
    {% block styles %}{% endblock %}

  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'dashboard:index' %}">
          <img src="{% static 'dashboard/img/favicon.png' %}" height='45px'>
        </a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#conteudo-navbar"
            aria-controls="conteudo-navbar" aria-expanded="false"
            aria-label="Ativar navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudo-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard:index' %}">
                      Página Inicial
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard:boletim_list' %}">
                      Boletim
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard:importar_dados' %}">
                      Atualizar Dados
                    </a>
                </li>
            </ul>

        </div>
    </nav>



    <!-- Arquivos necessários para o Bootstrap -->
    <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>


    <!-- Bloco de scripts -->
    {% block scripts %}{% endblock %}
     <!-- Bloco de conteúdo -->
    {% block conteudo %}{% endblock %}



  </body>
</html>